@import url("./fonts.css");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.site-wrapper {
  height: 900px;
  background-image: url(../assets/images/town.png);
  background-size: 100%;
  padding-top: 50px;
}

.top-section-container {
  width: 1232px;
  height: 900px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-buttons {
  display: flex;
  gap: 48px;
}

.header-options {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header-options a {
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-size: 24px;
  color: white;
  font-family: "Roboto", sans-serif;
}

.header-options a:hover {
  border-bottom: 3px solid #f5bd41;
}

.header-options button {
  background-color: unset;
  border: unset;
}

h1 {
  display: block;
  color: #ffffff;
  font-size: 50px;
  margin-top: 200px;
}

.search {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}

.form-title {
  display: flex;
  gap: 221px;
  color: white;
  font-size: 18px;
  margin-bottom: 24px;
  margin-left: 24px;
}

.form-input {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  height: 64px;
}

.form-input input {
  border: 3px solid transparent;
  border-radius: 8px;
  padding: 21px 21px;
  font-size: 18px;
}

.form-input input:focus {
  outline: none;
  border: 3px solid #f5bd41;
}

.form-input input-center {
  border: 1px solid gray;
}

.city {
  width: 467px;
}

.date {
  width: 260px;
}

.peoples {
  width: 314px;
}

.search-button {
  color: #ffffff;
  border-radius: 8px;
  border: none;
  background-color: #3077c6;
  width: 192px;
  font-size: 25px;
  cursor: pointer;
}

.apps {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.container {
  width: 1232px;
  margin: 0 auto;
}

.title {
  color: #383838;
  font-size: 40px;
  text-align: center;
  margin: 120px 0 20px;
}

.line {
  background-color: #f5bd41;
  margin: 0 auto;
  border: none;
  width: 100px;
  height: 4px;
}

.advantages-content {
  display: flex;
  gap: 16px;
  margin: 80px 0 124px;
}

.advantages-content-item {
  color: #383838;
  font-size: 24px;
  text-align: center;
  width: 25%;
}

.img {
  margin-bottom: 40px;
}

.footer {
  background-color: #10367c;
  background-size: 100%;
  color: #ffffff;
  font-size: 20px;
  height: 625px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1232px;
}

.col-name {
  font-weight: bolder;
}

.footer-item {
  margin-top: 23px;
  font-weight: 400;
}

.about {
  width: 193px;
  height: 211px;
  margin-right: 223px;
  margin-top: 120px;
}

.property-types {
  width: 141px;
  height: 306px;
  margin-right: 275px;
  margin-top: 120px;
}

.support {
  width: 235px;
  height: 117px;
  margin-top: 120px;
}

.triphouse {
  font-size: 14px;
  width: 253px;
  height: 16px;
  margin-top: 62px;
}
