@import url("./fonts.css");
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #10367c;
}
.container {
  color: #ffffff;
  font-size: 20px;
  max-width: 1440px;
  margin: 120px 272px 0 104px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 1143px;
}
.col-name {
  font-weight: bolder;
}
.pynct {
  margin-top: 23px;
  font-weight: 400;
}
.col-1 {
  width: 193px;
  height: 211px;
  margin-right: 223px;
}
.col-2 {
  width: 133px;
  height: 306px;
  margin-right: 283px;
}
.col-3 {
  width: 235px;
  height: 117px;
}
.col-4 {
  font-size: 14px;
  width: 253px;
  height: 16px;
  margin-top: 62px;
}
