@import url("./fonts.css");
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    width: 1440px;
    height: 850px;
    background-image: url(../assets/images/town.png);
    background-size: 1530px 1203px;
    background-position: top;
    background-repeat: no-repeat;
}
.sprite{
    margin:51px 102px 120px 102px;
    background-image: url(../assets/images/sprite.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 1235px;
    height: 740px;
}
h1 span{
   display: block;
    color: #ffffff;
    font-size: 50px;
    width: 542px;
    height: 118px;
}
.text{
    color: #ffffff;
    font-size: 50px;
    width: 542px;
    height: 118px;
    margin: -615px 794px 0 102px;
}